<h3>Grades</h3>
<div>
  <ul class="grades">
    <li *ngFor="let grade of grades">
      <a routerLink="/grades/{{grade.id}}">
        <span class="badge">{{grade.name}}</span>
        <span *ngIf="grade.books">{{grade.books.length}} books</span>
      </a>
      <button class="delete" title="delete grade" (click)="delete(grade)">x</button>
    </li>
  </ul>
  <div>
    <label>Grade name:
      <input #gradeName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addGrade(gradeName.value); gradeName.value=''">
      new grade
    </button>
  </div>
</div>