<div *ngIf="grade">
  {{grade.name | uppercase}} Grade Details
  <div>
    <button (click)="goBack()">go back</button>
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="grade.name" placeholder="name" />
    </label>

    <hr>
    <div *ngFor="let book of grade.books">
      <div>
        <label>title:
          <input [(ngModel)]="book.title" />
        </label>
      </div>
      <div>
        <label>category:
          <select [(ngModel)]="book.category">
            <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
          </select>
        </label>
      </div>
      <div>
        <label>file:
          <input type="file" (change)="onFileChange($event)" id="fileUpload" />
          <div *ngIf="book.file">
            <a [href]="book.file">view</a>
          </div>
        </label>
      </div>
      <button (click)="deleteBook(book)">delete book</button>
      <hr>
    </div>

    <app-new-book *ngIf="newBook" [grade]="grade"></app-new-book>
    <div>
      <button (click)="addBook()" [hidden]="newBook">new book</button>
      <button (click)="addBook()" [hidden]="!newBook">cancel</button>
      <hr>
    </div>
    <button (click)="save()">save</button>&nbsp;
    <button (click)="goBack()">go back</button>
  </div>
</div>