<h3>New Book</h3>
<div>
  <div>
    <label>title:
      <input [(ngModel)]="book.title" required/>
    </label>
  </div>
  <div>
    <label>category:
      <select [(ngModel)]="book.category" required>
        <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>file:
      <input type="file" (change)="onFileChange($event)" id="fileUpload" />
    </label>
  </div>
  <div>
    <button (click)="saveBook()">save book</button>
  </div>
</div>